<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAZOMxTc4xTfOoDg82kBlN6-8F4VyHyH0</string>
	<key>GCM_SENDER_ID</key>
	<string>432372281055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcmApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-app-c139e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-app-c139e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432372281055:ios:ac574061504af1e7cd836a</string>
</dict>
</plist>